<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="../index.css">
    <title>平台数据分析</title>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>平台数据分析</el-header>
        <el-container>
            <el-aside width="auto">
                <el-menu
                        default-active="3"
                        class="el-menu-vertical-demo"
                        @open="handleOpen"
                        @close="handleClose"
                        background-color="#545c64"
                        text-color="#fff"
                        active-text-color="#ffd04b">
                    <el-menu-item index="1">
                        <i class="el-icon-menu"></i>
                        <a href="/index" target="_parent"
                           style="text-decoration:none; color: rgb(255, 255, 255)">众筹项目中心</a>
                    </el-menu-item>
                    <el-menu-item index="2">
                        <i class="el-icon-setting"></i>
                        <a href="/manage" target="_parent"
                           style="text-decoration:none; color: rgb(255, 255, 255)">管理我的众筹</a>
                    </el-menu-item>
                    <el-menu-item index="3">
                        <i class="el-icon-document"></i>
                        <a href="/data" target="_blank"
                           style="text-decoration:none; color: rgb(255, 255, 255)">平台数据分析</a>
                    </el-menu-item>
                    <el-menu-item index="4">
                        <i class="el-icon-location"></i>
                        <a href="/user/userDetail" target="_parent"
                           style="text-decoration:none; color: rgb(255, 255, 255)">个人中心 &nbsp;&nbsp;&nbsp;&nbsp;</a>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-main>
                <el-row type="flex">
                    <el-col :span="4" justify="center">
                    </el-col>
                    <el-col :span="12" justify="center">
                        <el-card shadow="hover">
                            <b>众筹项目状态占比</b>
                            <div id="mountNode" style="width:auto;height:auto;">
                            </div>
                        </el-card>
                    </el-col>
                    <el-col :span="4" justify="center">
                    </el-col>
                </el-row>
               <br/>
                <el-row type="flex">
                    <el-col :span="4" justify="center">
                    </el-col>
                    <el-col :span="12" justify="center">
                        <el-card shadow="hover">
                            <b>众筹项目类别占比</b>
                            <div id="typeNode" style="width:auto;height:auto;">
                            </div>
                        </el-card>
                    </el-col>
                    <el-col :span="4" justify="center">
                    </el-col>
                </el-row>
                <br/>
                <el-row type="flex">
                    <el-col :span="4" justify="center">
                    </el-col>
                    <el-col :span="12" justify="center">
                        <el-card shadow="hover">
                            <b>众筹项目增长图</b>
                            <div id="increaseProjectNode" style="width:auto;height:auto;">
                            </div>
                        </el-card>
                    </el-col>
                    <el-col :span="4" justify="center">
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
    </el-container>


</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g2-3.5.1/dist/g2.min.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.10.1/dist/data-set.min.js"></script>
<script>


    let app = new Vue({
        el: "#app",
        data: function () {
            return {
                allNum:200,
                statusDataSet:null,
                typeDataSet:null,
                increaseDataSet:null
            }
        },
        created: function () {
            this.getStatus();
            this.getType();
            this.getIncrease();
        },
        methods: {
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
           getStatus(){
               axios.get('/project/getProjectsByStatus',{}
               ).then((response)=>{
                   if(response.data.code<0){
                       alert(response.data.message);
                   }else{
                       this.statusDataSet=response.data.result;
                       let chart = new G2.Chart({
                           container: 'mountNode',
                           forceFit: true,
                           height:400,
                           // height: window.innerHeight
                       });
                       chart.source(this.statusDataSet);
                       chart.scale('status', {
                           tickInterval: 10
                       });
                       chart.interval().position('status*num').color('status', ['#daf0fd', '#fec514', '#db4c3c', '#7f8da9']);
                       chart.render();
                   }
               }).catch((error)=>{
                   alert(error);
               })
           },

           getType(){
                axios.get('/project/getProjectsByType',{

                }).then((response)=>{
                    if(response.data.code<0){
                        alert(response.data.message);
                    }else{
                        this.typeDataSet=response.data.result;
                        let TypeChart = new G2.Chart({
                            container: 'typeNode',
                            forceFit: true,
                            height: 400,
                            animate: false
                        });
                        TypeChart.source(this.typeDataSet);
                        TypeChart.coord('theta', {
                            radius: 0.75,
                            innerRadius: 0.6
                        });
                        TypeChart.tooltip({
                            showTitle: false,
                            itemTpl: '<li><span style="background-color:{color};" class="g2-tooltip-marker"></span>{name}: {value}</li>'
                        });
                        let interval = TypeChart.intervalStack().position('percent').color('item').label('percent', {
                            formatter: function formatter(val, item) {
                                return item.point.item + ': ' + val*100+'%';
                            }
                        }).tooltip('item*count', function(item, count) {
                            count = count ;
                            return {
                                name: item,
                                value: count
                            };
                        }).style({
                            lineWidth: 2,
                            stroke: '#fff'
                        });

                        TypeChart.render();
                        interval.setSelected(this.typeDataSet[0]);
                    }
                }).catch((error)=>{
                    alert(error);
                })
           },

            getIncrease(){
                axios.get('/project/getIncreaseProjects',{

                }).then((response)=>{
                    if(response.data.code<0){
                        alert(response.data.message);
                    }else {
                        this.increaseDataSet=response.data.result;
                        var chart = new G2.Chart({
                            container: 'increaseProjectNode',
                            forceFit: true,
                            height: 400
                        });
                        chart.source(this.increaseDataSet);
                        chart.scale('value', {
                            min: 0
                        });
                        chart.scale('day', {
                            range: [0, 1]
                        });
                        chart.tooltip({
                            crosshairs: {
                                type: 'line'
                            }
                        });
                        chart.line().position('day*value');
                        chart.point().position('day*value').size(4).shape('circle').style({
                            stroke: '#fff',
                            lineWidth: 1
                        });
                        chart.render();
                    }
                }).catch((error)=>{
                    alert(error);
                })

            }
        }
    });
    let typeData = [{
        item: '创业',
        count: 40,
        percent:0.4
    }, {
        item: '扶贫',
        count: 21,
        percent:0.21
    }, {
        item: '人道救援',
        count: 17,
        percent:0.17
    }, {
        item: '环境保护',
        count: 13,
        percent:0.13
    }, {
        item: '动物保护',
        count: 9,
        percent:0.09
    }];
    // let TypeChart = new G2.Chart({
    //     container: 'typeNode',
    //     forceFit: true,
    //     height: 400,
    //     animate: false
    // });
    // TypeChart.source(typeData);
    // TypeChart.coord('theta', {
    //     radius: 0.75,
    //     innerRadius: 0.6
    // });
    // TypeChart.tooltip({
    //     showTitle: false,
    //     itemTpl: '<li><span style="background-color:{color};" class="g2-tooltip-marker"></span>{name}: {value}</li>'
    // });
    // let interval = TypeChart.intervalStack().position('percent').color('item').label('percent', {
    //     formatter: function formatter(val, item) {
    //         return item.point.item + ': ' + val*100+'%';
    //     }
    // }).tooltip('item*count', function(item, count) {
    //     count = count ;
    //     return {
    //         name: item,
    //         value: count
    //     };
    // }).style({
    //     lineWidth: 2,
    //     stroke: '#fff'
    // });
    //
    // TypeChart.render();
    // interval.setSelected(typeData[0]);


</script>
</html>