<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="../index.css">
    <title>平台数据分析</title>
</head>
<body>
<div id="app">
    <el-row type="flex">
        <el-col :span="12" justify="center">
            <el-card shadow="hover">
                <div id="type" style="width:100%;height:300px;">
                </div>
            </el-card>
        </el-col>
        <el-col :span="12" justify="center">
            <el-card shadow="hover">
                <div id="status" style="width:100%;height:300px;">
                </div>
            </el-card>
        </el-col>
    </el-row>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.js"></script>
<script src="http://data-visual.cn/datav/src/js/echarts/extension/echarts-wordcloud.min.js"></script>
<script>
    var app=new Vue({
        el:"#app",
        data:function () {
            return {

            }
        },
        methods:{
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            }
        }
    })


    // 基于准备好的dom，初始化echarts实例
    var TypeChart = echarts.init(document.getElementById('type'));

    // 指定图表的配置项和数据
    var option = {
        title: {
            text: '众筹项目类别占比',
            left: 'center',
            top: 20
        },

        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },

        visualMap: {
            show: false,
            min: 80,
            max: 600,
            inRange: {
                colorLightness: [0, 1]
            }
        },
        series : [
            {
                name:'项目类别',
                type:'pie',
                radius : '55%',
                center: ['50%', '50%'],
                data:[
                    {value:335, name:'创业启动资金'},
                    {value:310, name:'慈善机构募捐'},
                    {value:274, name:'个人慈善募捐'},
                    {value:235, name:'待定1'},
                    {value:400, name:'待定2'}
                ].sort(function (a, b) { return a.value - b.value; }),
                roseType: 'radius',
                label: {
                    normal: {
                        textStyle: {
                            color: 'rgb(0, 0, 0)'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        lineStyle: {
                            color: 'rgb(0, 0, 0)'
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20
                    }
                },
                itemStyle: {
                    normal: {
                        shadowBlur: 200,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                },
                animationType: 'scale',
                animationEasing: 'elasticOut',
                animationDelay: function (idx) {
                    return Math.random() * 200;
                }
            }
        ]
    };
    // 使用刚指定的配置项和数据显示图表。
    TypeChart.setOption(option);

    let StatusChart = echarts.init(document.getElementById('status'));
    let StatusOption = {
        title: {
            text: '众筹项目状态占比',
            left: 'center',
            top: 20
        },
        xAxis: {
            data: ['待审核', '进行中', '成功', '失败'],
            axisTick: {show: false},
            axisLabel: {
            }
        },
        yAxis: {
            splitLine: {show: false}
        },
        animationDurationUpdate: 1200,
        series: [{
            type: 'bar',
            itemStyle: {
                normal: {
                    color: '#ddd'
                }
            }
        },
            {
                type: 'bar',
                barWidth: 50,
                z:10,
                data: [20, 33, 13, 5],
                itemStyle:{
                    color:'#F56C6C'
                }
            }]
    };

    StatusChart.setOption(StatusOption);
</script>
</html>