<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="../index.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>项目详情页</title>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>众筹项目详情页</el-header>
        <el-main>
            <el-row type="flex">
                <el-col :span="2">
                </el-col>
                <el-col :span="10" justify="center">
                    <el-card shadow="hover">
                        <table class="table">
                            <tr>
                                <td width="100px"><b>项目ID：</b></td>
                                <td>12123</td>
                            </tr>
                            <tr>
                                <td><b>项目名称：</b></td>
                                <td>天使资本</td>
                            </tr>
                            <tr>
                                <td><b>项目简介：</b></td>
                                <td>首先，创业门槛较低。现在许多的众筹网站主打的一个卖点都是“实现你的梦想”。这句话的潜台词是“之前创业门槛高，众筹帮你降低这个障碍”。从实际的案例来看，众筹平台确实帮助许多草根创业者融到资金，并推出了既定的产品。这个过程如果走传统的融资路线会比较艰难，因为VC可能不看好你的这个Idea，况且你没有产品做出来也很难得到VC的认可。
                                </td>
                            </tr>
                            <tr>
                                <td><b>发起人：</b></td>
                                <td>五十资本</td>
                            </tr>
                            <tr>
                                <td><b>资金流向：</b></td>
                                <td>0xaaFbb55d31aB1455758dA29Bd0C62d80d6E2fBa7</td>
                            </tr>
                            <tr>
                                <td><b>目标金额：</b></td>
                                <td>200Ether</td>
                            </tr>
                            <tr>
                                <td><b>项目类别：</b></td>
                                <td>启动资金</td>
                            </tr>
                            <tr>
                                <td><b>截止时间</b></td>
                                <td>2019/05/20</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <br>
                                    <el-steps :space="200" :active="stepActive" finish-status="success">
                                        <el-step title="审核"></el-step>
                                        <el-step title="进行中"></el-step>
                                        <el-step title="完成"></el-step>
                                    </el-steps></td>
                            </tr>
                        </table>
                        <br>
                        <br>

                    </el-card>
                </el-col>
                <el-col :span=1>

                </el-col>
                <el-col :span="10" justify="center">
                    <el-card shadow="hover">
                        <div id="realTimeAmount" style="width:100%;height:300px;">
                        </div>
                        <div>
                            <el-form :model="fundForm" label-width="80px">
                                <el-form-item prop="toID" label="资金流向">
                                    <el-col :span="15">
                                        <el-input v-model="fundForm.toID"  :disabled="true"></el-input>
                                    </el-col>
                                </el-form-item>
                                <el-form-item prop="fromID" label="投资账户" :rules="[
                                                 { required: true, message: '不能为空', trigger: 'blur' },
                                                ]">
                                    <el-col :span="15">
                                        <el-input placeholder="请输入钱包" v-model="fundForm.fromID"></el-input>
                                    </el-col>
                                </el-form-item>
                                <el-form-item prop="amount" label="金额" :rules="[
                                                 { required: true, message: '不能为空', trigger: 'blur' },
                                                ]">
                                    <el-col :span="15">
                                        <el-input placeholder="请输入金额" v-model="fundForm.amount"></el-input>
                                    </el-col>
                                </el-form-item>
                                <el-form-item>
                                    <el-col :span="15">
                                        <el-button type="primary" @click="fund">参与众筹</el-button>
                                    </el-col>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.js"></script>
<script src="http://data-visual.cn/datav/src/js/echarts/extension/echarts-wordcloud.min.js"></script>
<script>
    var app=new Vue({
        el:"#app",
        data:function () {
            return {
                stepActive:2,
                realAmount:50,
                fundForm:{
                    fromID:'',
                    toID:'0xaaFbb55d31aB1455758dA29Bd0C62d80d6E2fBa7',
                    amount:null
                }
            }
        },
        methods:{
            fund(){
                axios({

                }).then((response)=>{

                }).catch((error)=>{

                })
            }
        }
    })
    let AmountChart=echarts.init(document.getElementById('realTimeAmount'));
    let  option = {
        title:{
            text: '项目实时金额',
            left: 'center',
            top: 20
        },
        xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [820, 932, 901, 934, 1290, 1330, 1320],
            type: 'line'
        }]
    };

    AmountChart.setOption(option);
</script>
</html>