<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/index.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>项目详情页</title>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>众筹项目详情页</el-header>
        <el-main>
            <el-row type="flex">
                <el-col :span="4">
                </el-col>
                <el-col :span="16" justify="center">
                    <el-card shadow="hover">
                        <el-button type="primary" @click="fundProject" :disabled="isDisabled">参与众筹</el-button>
                        <el-dialog title="参与众筹" :visible.sync="dialogFormVisible">
                            <el-form :model="fundForm">
                                <el-form-item prop="fromID" label="投资账户" :rules="[
                                                 { required: true, message: '不能为空', trigger: 'blur' },
                                                ]">

                                        <el-select v-model="fundForm.fromID" placeholder="请选择">
                                            <el-option
                                                    v-for="item in wallet"
                                                    :key="item.id"
                                                    :label="item.address"
                                                    :value="item.id">
                                            </el-option>
                                        </el-select>
                                </el-form-item>
                                <el-form-item prop="amount" label="金额" :rules="[
                                                 { required: true, message: '不能为空', trigger: 'blur' },
                                                ]">
                                        <el-input placeholder="请输入金额" v-model="fundForm.amount"></el-input>
                                </el-form-item>
                                <el-form-item prop="amount" label="支付密码" :rules="[
                                                 { required: true, message: '不能为空', trigger: 'blur' },
                                                ]">
                                        <el-input placeholder="请输入私钥密码完成众筹" v-model="fundForm.key"></el-input>
                                </el-form-item>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取 消</el-button>
                                <el-button type="primary" @click="fund">确 定</el-button>
                            </div>
                        </el-dialog>
                        <table class="table">
                            <tr>
                                <td width="150px"><b>项目ID：</b></td>
                                <td th:text="${projectDetail.projectid}"></td>
                            </tr>
                            <tr>
                                <td><b>项目名称：</b></td>
                                <td th:text="${projectDetail.projectname}"></td>
                            </tr>
                            <tr>
                                <td><b>项目简介：</b></td>
                                <td th:text="${projectDetail.desc}"></td>
                            </tr>
                            <tr>
                                <td><b>发起人：</b></td>
                                <td th:text="${projectDetail.username}"></td>
                            </tr>
                            <tr>
                                <td><b>资金流向：</b></td>
                                <td th:text="${projectDetail.walletAddress}"></td>
                            </tr>
                            <tr>
                                <td><b>目标金额(Ether)：</b></td>
                                <td th:text="${projectDetail.projectamount}"></td>
                            </tr>
                            <tr>
                                <td><b>项目类别：</b></td>
                                <td th:text="${projectDetail.type}"></td>
                            </tr>
                            <tr>
                                <td><b>截止时间：</b></td>
                                <td th:text="${projectDetail.dateName}"></td>
                            </tr>
                            <tr>
                                <td><b>项目状态：</b></td>
                                <td>
                                    <br>
                                    <el-steps :space="200" :active="stepActive" finish-status="success">
                                        <el-step title="审核中"></el-step>
                                        <el-step title="进行中"></el-step>
                                        <el-step title="完成"></el-step>
                                    </el-steps></td>
                            </tr>
                            <tr>
                                <td><b>项目实时金额：</b></td>
                                <td>
                                    <el-progress :text-inside="true" :stroke-width="18" :percentage="percentage"></el-progress>
                                    <br>
                                    <el-tag type="danger" size="medium">&nbsp;&nbsp; {{realAmount}} Ether &nbsp;&nbsp;</el-tag>

                                </td>
                            </tr>
                            <tr>
                                <td><b>项目参与人次：</b></td>
                                <td>
                                    <el-tag type="success" size="medium">&nbsp;&nbsp; {{paidNums}} Person &nbsp;&nbsp;</el-tag>
                                </td>
                            </tr>
                            <tr>
                                <td><b>人均贡献：</b></td>
                                <td>
                                    <el-tag type="warning" size="medium">&nbsp;&nbsp; {{average}} Ether &nbsp;&nbsp;</el-tag>
                                </td>
                            </tr>
                        </table>
                    </el-card>
                </el-col>

                <el-col :span="4">
                </el-col>


            </el-row>
        </el-main>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.js"></script>
<script src="http://data-visual.cn/datav/src/js/echarts/extension/echarts-wordcloud.min.js"></script>
<script th:inline="javascript">
    var app=new Vue({
        el:"#app",
        data:function () {
            return {
                /*<![CDATA[*/
                stepActive :/*[[${projectDetail.status}+1]]*/ 1,
            /*]]>*/
                realAmount:0,
                percentage:0,
                fundForm:{
                    fromID:'',
                    /*<![CDATA[*/
                    toID :/*[[${projectDetail.walletAddress}]]*/ '',
                    /*]]>*/
                    amount:null,
                    key:''
                },
                dialogFormVisible : false,
                wallet:[],
                /*<![CDATA[*/
                projectId :/*[[${projectDetail.projectid}]]*/ 0,
                /*]]>*/
                paidNums:0,
                average:0,
                isDisabled:true

            }
        },
        created: function () {
            this.getWallets();
            this.getProjectOnContract();
            this.showFund();
        },
        methods:{
            fund(){
                axios.post('/project/fundProject',{
                    'projectId':this.projectId,
                    'fromID':this.fundForm.fromID,
                    'amount':this.fundForm.amount,
                    'address_to':this.fundForm.toID,
                    "key":this.fundForm.key
                }).then((response)=>{
                    if(response.data.code<0){
                        alert(response.data.message);
                    }else{
                        window.location.href="/project/getById/"+this.projectId;
                    }
                }).catch((error)=>{
                    alert(error);
                })
            },
            getWallets(){
                axios.get('/wallet/getWalletByUserId',
                    {

                    }
                ).then((response)=>{
                    if(response.data.code<0){
                        alert(response.data.message);
                    }else{
                        this.wallet=response.data.result;
                    }
                }).catch((error)=>{
                    alert(error);
                })
            },
            getProjectOnContract(){
                axios.get('/project/getProjectOnContract/'+this.projectId,
                    {}).then((response)=>{
                    if(response.data.code<0){
                        alert(response.data.message);
                    }else{
                        this.percentage=response.data.result.realtimeAmount*100/response.data.result.successAmount;
                        this.paidNums=response.data.result.paidNum;
                        this.average=response.data.result.realtimeAmount/response.data.result.paidNum;
                        this.realAmount=response.data.result.realtimeAmount;
                    }
                }).catch((error)=>{
                    alert(error);
                })
            },
            showFund(){
                if(this.stepActive===2) {
                    this.isDisabled=false;
                }
            },
            fundProject(){
                this.dialogFormVisible = true;
            }

        }
    });
</script>
</html>